/* 全体のボックスサイジングを設定 */
*, *:before, *:after {
    box-sizing: border-box;
}

/* コンテナをフレックスボックスにする */
.container {
    display: flex;
        flex-wrap: nowrap; /* フレックスアイテムが折り返さないようにする */
}

/* サイドバーのスタイリング */
#sidebar {
    width: 250px; /* サイドバーの幅 */
    background-color: #f2f2f2; /* サイドバーの背景色 */
    padding: 20px;
    height: 120vh; /* ビューポートの高さに合わせる */
    overflow-y: auto;
    flex-shrink: 0; /* サイドバーが縮小しないようにする */
}

header {
    display: flex; /* フレックスボックスを有効化 */
    align-items: center; /* アイテムを垂直方向の中央に配置 */
}
h1 {
    margin-right: 400px; /* h1の右に余白を追加 */
}

/* メインコンテンツのスタイリング */
.content {
    flex-grow: 1; /* 残りのスペースをメインコンテンツが取るようにする */
    padding: 20px;
}

footer {
    background-color: #f3f3f3;
    color: #333;
    font-weight:bold;
}